<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>JavaHelloWorldApp</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>Generar_Speech</description>
    <display-name></display-name>
    <servlet-name>ServletSpeech</servlet-name>
    <servlet-class>Servlet.ServletSpeech</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSpeech</servlet-name>
    <url-pattern>/generarSpeech</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Registrar_Estudiante</description>
    <display-name></display-name>
    <servlet-name>ServletRegistroEstudiante</servlet-name>
    <servlet-class>Servlet.ServletRegistroEstudiante</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRegistroEstudiante</servlet-name>
    <url-pattern>/registrarEstudiante</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Registrar_Curso</description>
    <display-name></display-name>
    <servlet-name>ServletRegistrarCurso</servlet-name>
    <servlet-class>Servlet.ServletRegistrarCurso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRegistrarCurso</servlet-name>
    <url-pattern>/registrarCurso</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Registrar_TipoEvaluacion</description>
    <display-name></display-name>
    <servlet-name>ServletRegistrarTipoEvaluacion</servlet-name>
    <servlet-class>Servlet.ServletRegistrarTipoEvaluacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRegistrarTipoEvaluacion</servlet-name>
    <url-pattern>/registrarTipoEvaluacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Registrar_TipoPregunta</description>
    <display-name></display-name>
    <servlet-name>ServletRegistrarTipoPregunta</servlet-name>
    <servlet-class>Servlet.ServletRegistrarTipoPregunta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRegistrarTipoPregunta</servlet-name>
    <url-pattern>/registrarTipoPregunta</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>CargarArchivos</description>
    <display-name></display-name>
    <servlet-name>ServletSubirPositivos</servlet-name>
    <servlet-class>Servlet.ServletSubirPositivos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSubirPositivos</servlet-name>
    <url-pattern>/subiendo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>CargarNegativos</description>
    <display-name></display-name>
    <servlet-name>ServletSubirNegativos</servlet-name>
    <servlet-class>Servlet.ServletSubirNegativos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSubirNegativos</servlet-name>
    <url-pattern>/subiendoN</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>EntrenamientoProfesor</description>
    <display-name></display-name>
    <servlet-name>ServletEntrenar</servlet-name>
    <servlet-class>Servlet.ServletEntrenar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletEntrenar</servlet-name>
    <url-pattern>/entrenando</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>CREA_PDF</description>
    <display-name></display-name>
    <servlet-name>ServletPDF</servlet-name>
    <servlet-class>Servlet.ServletPDF</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletPDF</servlet-name>
    <url-pattern>/crearPDF</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>CREA_PDFingles</description>
    <display-name></display-name>
    <servlet-name>ServletPDFingles</servlet-name>
    <servlet-class>Servlet.ServletPDFingles</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletPDFingles</servlet-name>
    <url-pattern>/crearPDFingles</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>TO_MATRICULAR</description>
    <display-name></display-name>
    <servlet-name>ServletToMatricular</servlet-name>
    <servlet-class>Servlet.ServletToMatricular</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletToMatricular</servlet-name>
    <url-pattern>/ToMatricular</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>MATRICULAR</description>
    <display-name></display-name>
    <servlet-name>ServletMatricular</servlet-name>
    <servlet-class>Servlet.ServletMatricular</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletMatricular</servlet-name>
    <url-pattern>/postMatricular</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>TO_CURSO</description>
    <display-name></display-name>
    <servlet-name>ServletToCurso</servlet-name>
    <servlet-class>Servlet.ServletToCurso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletToCurso</servlet-name>
    <url-pattern>/ToCurso</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>TO_TIPOEVALUACION</description>
    <display-name></display-name>
    <servlet-name>ServletToTipoEvaluacion</servlet-name>
    <servlet-class>Servlet.ServletToTipoEvaluacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletToTipoEvaluacion</servlet-name>
    <url-pattern>/ToTipoEvaluacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>TO_SUBTEMA</description>
    <display-name></display-name>
    <servlet-name>ServletToSubtema</servlet-name>
    <servlet-class>Servlet.ServletToSubtema</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletToSubtema</servlet-name>
    <url-pattern>/ToSubtema</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>TO_TEMA</description>
    <display-name></display-name>
    <servlet-name>ServletToTema</servlet-name>
    <servlet-class>Servlet.ServletToTema</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletToTema</servlet-name>
    <url-pattern>/ToTema</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>TO_CONFEVAL</description>
    <display-name></display-name>
    <servlet-name>ServletToConfEvaluacion</servlet-name>
    <servlet-class>Servlet.ServletToConfEvaluacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletToConfEvaluacion</servlet-name>
    <url-pattern>/ToConfEvaluacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>InicioSesionAd</description>
    <display-name></display-name>
    <servlet-name>ServletInicioSesionAdministrador</servlet-name>
    <servlet-class>Servlet.ServletInicioSesionAdministrador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletInicioSesionAdministrador</servlet-name>
    <url-pattern>/postIniciar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>TO_TIPOPREGUNTA</description>
    <display-name></display-name>
    <servlet-name>ServletToTipoPregunta</servlet-name>
    <servlet-class>Servlet.ServletToTipoPregunta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletToTipoPregunta</servlet-name>
    <url-pattern>/ToTipoPregunta</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>RegPregMarqueX</description>
    <display-name></display-name>
    <servlet-name>ServletRegistrarPreguntaM</servlet-name>
    <servlet-class>Servlet.ServletRegistrarPreguntaM</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRegistrarPreguntaM</servlet-name>
    <url-pattern>/postRegistrar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>CARG_DAT_CURSO</description>
    <display-name></display-name>
    <servlet-name>ServletCargarDatsCurso</servlet-name>
    <servlet-class>Servlet.ServletCargarDatsCurso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCargarDatsCurso</servlet-name>
    <url-pattern>/cargarDatosCurso</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>CARG_DAT_SUBTEMA</description>
    <display-name></display-name>
    <servlet-name>ServletCargarDatsSubtema</servlet-name>
    <servlet-class>Servlet.ServletCargarDatsSubtema</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCargarDatsSubtema</servlet-name>
    <url-pattern>/cargarDatosSubtema</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>CARG_DAT_TEMA</description>
    <display-name></display-name>
    <servlet-name>ServletCargarDatsTema</servlet-name>
    <servlet-class>Servlet.ServletCargarDatsTema</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCargarDatsTema</servlet-name>
    <url-pattern>/cargarDatosTema</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>CARG_DAT_TIP_EVAL</description>
    <display-name></display-name>
    <servlet-name>ServletCargarDatsTipEval</servlet-name>
    <servlet-class>Servlet.ServletCargarDatsTipEval</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCargarDatsTipEval</servlet-name>
    <url-pattern>/cargarDatosTipEval</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>CARG_DAT_TIP_PREG</description>
    <display-name></display-name>
    <servlet-name>ServletCargarDatsTipPreg</servlet-name>
    <servlet-class>Servlet.ServletCargarDatsTipPreg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCargarDatsTipPreg</servlet-name>
    <url-pattern>/cargarDatosTipPreg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>CARG_PREGUNTAS</description>
    <display-name></display-name>
    <servlet-name>ServletCargarPreguntas</servlet-name>
    <servlet-class>Servlet.ServletCargarPreguntas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCargarPreguntas</servlet-name>
    <url-pattern>/cargarPreguntas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>SIGUIENTE</description>
    <display-name></display-name>
    <servlet-name>ServletToSiguiente</servlet-name>
    <servlet-class>Servlet.ServletToSiguiente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletToSiguiente</servlet-name>
    <url-pattern>/ToSiguiente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>ActualizarCurso</description>
    <display-name></display-name>
    <servlet-name>ServletActualizarCurso</servlet-name>
    <servlet-class>Servlet.ServletActualizarCurso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletActualizarCurso</servlet-name>
    <url-pattern>/ActualizarCurso</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>ActualizarSubtema</description>
    <display-name></display-name>
    <servlet-name>ServletActualizarSubtema</servlet-name>
    <servlet-class>Servlet.ServletActualizarSubtema</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletActualizarSubtema</servlet-name>
    <url-pattern>/ActualizarSubtema</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>ActualizarTema</description>
    <display-name></display-name>
    <servlet-name>ServletActualizarTema</servlet-name>
    <servlet-class>Servlet.ServletActualizarTema</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletActualizarTema</servlet-name>
    <url-pattern>/ActualizarTema</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>ActualizarTipEval</description>
    <display-name></display-name>
    <servlet-name>ServletActualizarTipEval</servlet-name>
    <servlet-class>Servlet.ServletActualizarTipEval</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletActualizarTipEval</servlet-name>
    <url-pattern>/ActualizarTipEval</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>ActualizarTipPreg</description>
    <display-name></display-name>
    <servlet-name>ServletActualizarTipPreg</servlet-name>
    <servlet-class>Servlet.ServletActualizarTipPreg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletActualizarTipPreg</servlet-name>
    <url-pattern>/ActualizarTipPreg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>CONFIGURAR_EVALUACION</description>
    <display-name></display-name>
    <servlet-name>ServletConfEvaluacion</servlet-name>
    <servlet-class>Servlet.ServletConfEvaluacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConfEvaluacion</servlet-name>
    <url-pattern>/ConfEvaluacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>SeleccionarCurso_D</description>
    <display-name></display-name>
    <servlet-name>ServletSeleccionarCurso_D</servlet-name>
    <servlet-class>Servlet.ServletSeleccionarCurso_D</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSeleccionarCurso_D</servlet-name>
    <url-pattern>/selectCursoD</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>SeleccionarCurso_C</description>
    <display-name></display-name>
    <servlet-name>ServletSeleccionarCurso_C</servlet-name>
    <servlet-class>Servlet.ServletSeleccionarCurso_C</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSeleccionarCurso_C</servlet-name>
    <url-pattern>/selectCursoC</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>registrarPreguntaDesarrollo</description>
    <display-name></display-name>
    <servlet-name>ServletRegistrarPreguntaD</servlet-name>
    <servlet-class>Servlet.ServletRegistrarPreguntaD</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRegistrarPreguntaD</servlet-name>
    <url-pattern>/postRegistrarD</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>RegistarTema</description>
    <display-name></display-name>
    <servlet-name>ServletRegistrarTema</servlet-name>
    <servlet-class>Servlet.ServletRegistrarTema</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRegistrarTema</servlet-name>
    <url-pattern>/RegistrarTema</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>CARGARCURSO</description>
    <display-name></display-name>
    <servlet-name>ServletCargarCurso</servlet-name>
    <servlet-class>Servlet.ServletCargarCurso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCargarCurso</servlet-name>
    <url-pattern>/CargarCurso</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>RegistrarSubtema</description>
    <display-name></display-name>
    <servlet-name>ServletRegistrarSubtema</servlet-name>
    <servlet-class>Servlet.ServletRegistrarSubtema</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRegistrarSubtema</servlet-name>
    <url-pattern>/RegistrarSubtema</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>AsignarProfesor</description>
    <display-name></display-name>
    <servlet-name>ServletAsignarProfesor</servlet-name>
    <servlet-class>Servlet.ServletAsignarProfesor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAsignarProfesor</servlet-name>
    <url-pattern>/AsignandoProfesor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>SeleccionarCuro</description>
    <display-name></display-name>
    <servlet-name>ServletSeleccionarCurso</servlet-name>
    <servlet-class>Servlet.ServletSeleccionarCurso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSeleccionarCurso</servlet-name>
    <url-pattern>/selectCurso</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>SeleccionarTema</description>
    <display-name></display-name>
    <servlet-name>ServletSeleccionarTema</servlet-name>
    <servlet-class>Servlet.ServletSeleccionarTema</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSeleccionarTema</servlet-name>
    <url-pattern>/selectTema</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>RegistrarPreguntaC</description>
    <display-name></display-name>
    <servlet-name>ServletRegistrarPreguntaC</servlet-name>
    <servlet-class>Servlet.ServletRegistrarPreguntaC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRegistrarPreguntaC</servlet-name>
    <url-pattern>/postRegistrarPC</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>SeleccionarCurso_C</description>
    <display-name></display-name>
    <servlet-name>ServletSeleccionarTema_C</servlet-name>
    <servlet-class>Servlet.ServletSeleccionarTema_C</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSeleccionarTema_C</servlet-name>
    <url-pattern>/selectTema_C</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>seleccionarPreguntaDesarrollo</description>
    <display-name></display-name>
    <servlet-name>ServletSeleccionarTema_D</servlet-name>
    <servlet-class>Servlet.ServletSeleccionarTema_D</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSeleccionarTema_D</servlet-name>
    <url-pattern>/selectTemaD</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>TO_EVALUACION</description>
    <display-name></display-name>
    <servlet-name>ServletToEvaluacion</servlet-name>
    <servlet-class>Servlet.ServletToEvaluacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletToEvaluacion</servlet-name>
    <url-pattern>/ToEvaluacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>HABILITAR_EVALUACION</description>
    <display-name></display-name>
    <servlet-name>ServletHabilitarEvaluacion</servlet-name>
    <servlet-class>Servlet.ServletHabilitarEvaluacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletHabilitarEvaluacion</servlet-name>
    <url-pattern>/habilitarEvaluacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>CONSULTAR_TIP_PREG</description>
    <display-name></display-name>
    <servlet-name>ServletConsultarTipPreg</servlet-name>
    <servlet-class>Servlet.ServletConsultarTipPreg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConsultarTipPreg</servlet-name>
    <url-pattern>/consultarTipPreg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>CONSULTAR_TIP_EVAL</description>
    <display-name></display-name>
    <servlet-name>ServletConsultarTipEval</servlet-name>
    <servlet-class>Servlet.ServletConsultarTipEval</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConsultarTipEval</servlet-name>
    <url-pattern>/consultarTipEval</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>CONSULTAR_CURSO</description>
    <display-name></display-name>
    <servlet-name>ServletConsultarCurso</servlet-name>
    <servlet-class>Servlet.ServletConsultarCurso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConsultarCurso</servlet-name>
    <url-pattern>/consultarCurso</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>CONSULTAR_SUBTEMA</description>
    <display-name></display-name>
    <servlet-name>ServletConsultarSubtema</servlet-name>
    <servlet-class>Servlet.ServletConsultarSubtema</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConsultarSubtema</servlet-name>
    <url-pattern>/consultarSubtema</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>CONSULTAR_TEMA</description>
    <display-name></display-name>
    <servlet-name>ServletConsultarTema</servlet-name>
    <servlet-class>Servlet.ServletConsultarTema</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConsultarTema</servlet-name>
    <url-pattern>/consultarTema</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>EMPEZAR_EVALUACION</description>
    <display-name></display-name>
    <servlet-name>ServletEmpezarEvaluacion</servlet-name>
    <servlet-class>Servlet.ServletEmpezarEvaluacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletEmpezarEvaluacion</servlet-name>
    <url-pattern>/empezarEvaluacion</url-pattern>
  </servlet-mapping>
</web-app>