<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>JavaHelloWorldApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>Generar_Speech</description>
    <display-name></display-name>
    <servlet-name>ServletSpeech</servlet-name>
    <servlet-class>Servlet.ServletSpeech</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSpeech</servlet-name>
    <url-pattern>/generarSpeech</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Registrar_Estudiante</description>
    <display-name></display-name>
    <servlet-name>ServletRegistroEstudiante</servlet-name>
    <servlet-class>Servlet.ServletRegistroEstudiante</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRegistroEstudiante</servlet-name>
    <url-pattern>/registrarEstudiante</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Registrar_Curso</description>
    <display-name></display-name>
    <servlet-name>ServletRegistrarCurso</servlet-name>
    <servlet-class>Servlet.ServletRegistrarCurso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRegistrarCurso</servlet-name>
    <url-pattern>/registrarCurso</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Registrar_TipoEvaluacion</description>
    <display-name></display-name>
    <servlet-name>ServletRegistrarTipoEvaluacion</servlet-name>
    <servlet-class>Servlet.ServletRegistrarTipoEvaluacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRegistrarTipoEvaluacion</servlet-name>
    <url-pattern>/registrarTipoEvaluacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Registrar_TipoPregunta</description>
    <display-name></display-name>
    <servlet-name>ServletRegistrarTipoPregunta</servlet-name>
    <servlet-class>Servlet.ServletRegistrarTipoPregunta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRegistrarTipoPregunta</servlet-name>
    <url-pattern>/registrarTipoPregunta</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>CargarArchivos</description>
    <display-name></display-name>
    <servlet-name>ServletSubirPositivos</servlet-name>
    <servlet-class>Servlet.ServletSubirPositivos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSubirPositivos</servlet-name>
    <url-pattern>/subiendo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>CargarNegativos</description>
    <display-name></display-name>
    <servlet-name>ServletSubirNegativos</servlet-name>
    <servlet-class>Servlet.ServletSubirNegativos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSubirNegativos</servlet-name>
    <url-pattern>/subiendoN</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>EntrenamientoProfesor</description>
    <display-name></display-name>
    <servlet-name>ServletEntrenar</servlet-name>
    <servlet-class>Servlet.ServletEntrenar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletEntrenar</servlet-name>
    <url-pattern>/entrenando</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>CREA_PDF</description>
    <display-name></display-name>
    <servlet-name>ServletPDF</servlet-name>
    <servlet-class>Servlet.ServletPDF</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletPDF</servlet-name>
    <url-pattern>/crearPDF</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>TO_MATRICULAR</description>
    <display-name></display-name>
    <servlet-name>ServletToMatricular</servlet-name>
    <servlet-class>Servlet.ServletToMatricular</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletToMatricular</servlet-name>
    <url-pattern>/ToMatricular</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>MATRICULAR</description>
    <display-name></display-name>
    <servlet-name>ServletMatricular</servlet-name>
    <servlet-class>Servlet.ServletMatricular</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletMatricular</servlet-name>
    <url-pattern>/postMatricular</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>TO_CURSO</description>
    <display-name></display-name>
    <servlet-name>ServletToCurso</servlet-name>
    <servlet-class>Servlet.ServletToCurso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletToCurso</servlet-name>
    <url-pattern>/ToCurso</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>TO_TIPOEVALUACION</description>
    <display-name></display-name>
    <servlet-name>ServletToTipoEvaluacion</servlet-name>
    <servlet-class>Servlet.ServletToTipoEvaluacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletToTipoEvaluacion</servlet-name>
    <url-pattern>/ToTipoEvaluacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>TO_PREGUNTA</description>
    <display-name></display-name>
    <servlet-name>ServletToPregunta</servlet-name>
    <servlet-class>Servlet.ServletToPregunta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletToPregunta</servlet-name>
    <url-pattern>/ToPregunta</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>TO_SUBTEMA</description>
    <display-name></display-name>
    <servlet-name>ServletToSubtema</servlet-name>
    <servlet-class>Servlet.ServletToSubtema</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletToSubtema</servlet-name>
    <url-pattern>/ToSubtema</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>TO_TEMA</description>
    <display-name></display-name>
    <servlet-name>ServletToTema</servlet-name>
    <servlet-class>Servlet.ServletToTema</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletToTema</servlet-name>
    <url-pattern>/ToTema</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>TO_CONFEVAL</description>
    <display-name></display-name>
    <servlet-name>ServletToConfEvaluacion</servlet-name>
    <servlet-class>Servlet.ServletToConfEvaluacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletToConfEvaluacion</servlet-name>
    <url-pattern>/ToConfEvaluacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>InicioSesionAd</description>
    <display-name></display-name>
    <servlet-name>ServletInicioSesionAdministrador</servlet-name>
    <servlet-class>Servlet.ServletInicioSesionAdministrador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletInicioSesionAdministrador</servlet-name>
    <url-pattern>/postIniciar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>TO_TIPOPREGUNTA</description>
    <display-name></display-name>
    <servlet-name>ServletToTipoPregunta</servlet-name>
    <servlet-class>Servlet.ServletToTipoPregunta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletToTipoPregunta</servlet-name>
    <url-pattern>/ToTipoPregunta</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>RegPregMarqueX</description>
    <display-name></display-name>
    <servlet-name>ServletRegistrarPreguntaM</servlet-name>
    <servlet-class>Servlet.ServletRegistrarPreguntaM</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRegistrarPreguntaM</servlet-name>
    <url-pattern>/postRegistrar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>CARG_DAT_CURSO</description>
    <display-name></display-name>
    <servlet-name>ServletCargarDatsCurso</servlet-name>
    <servlet-class>Servlet.ServletCargarDatsCurso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCargarDatsCurso</servlet-name>
    <url-pattern>/cargarDatosCurso</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>CARG_PREGUNTAS</description>
    <display-name></display-name>
    <servlet-name>ServletCargarPreguntas</servlet-name>
    <servlet-class>Servlet.ServletCargarPreguntas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCargarPreguntas</servlet-name>
    <url-pattern>/cargarPreguntas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>SIGUIENTE</description>
    <display-name></display-name>
    <servlet-name>ServletToSiguiente</servlet-name>
    <servlet-class>Servlet.ServletToSiguiente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletToSiguiente</servlet-name>
    <url-pattern>/ToSiguiente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>SeleccionarSubTema</description>
    <display-name></display-name>
    <servlet-name>SrevletSeleccionarSubTema</servlet-name>
    <servlet-class>Servlet.ServletSeleccionarSubTema</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSeleccionarSubTema</servlet-name>
    <url-pattern>/selectSubtema</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>ActualizarCurso</description>
    <display-name></display-name>
    <servlet-name>ServletActualizarCurso</servlet-name>
    <servlet-class>Servlet.ServletActualizarCurso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletActualizarCurso</servlet-name>
    <url-pattern>/ActualizarCurso</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>CONFIGURAR_EVALUACION</description>
    <display-name></display-name>
    <servlet-name>ServletConfEvaluacion</servlet-name>
    <servlet-class>Servlet.ServletConfEvaluacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConfEvaluacion</servlet-name>
    <url-pattern>/ConfEvaluacion</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>SeleccionarCurso_D</description>
    <display-name></display-name>
    <servlet-name>ServletSeleccionarCurso_D</servlet-name>
    <servlet-class>Servlet.ServletSeleccionarCurso_D</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSeleccionarCurso_D</servlet-name>
    <url-pattern>/selectCursoD</url-pattern>
  </servlet-mapping>

<servlet>
    <description>registrarPreguntaDesarrollo</description>
    <display-name></display-name>
    <servlet-name>ServletRegistrarPreguntaD</servlet-name>
    <servlet-class>Servlet.ServletRegistrarPreguntaD</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRegistrarPreguntaD</servlet-name>
    <url-pattern>/postRegistrarD</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>RegistarTema</description>
    <display-name></display-name>
    <servlet-name>ServletRegistrarTema</servlet-name>
    <servlet-class>Servlet.ServletRegistrarTema</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRegistrarTema</servlet-name>
    <url-pattern>/RegistrarTema</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>CARGARCURSO</description>
    <display-name></display-name>
    <servlet-name>ServletCargarCurso</servlet-name>
    <servlet-class>Servlet.ServletCargarCurso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCargarCurso</servlet-name>
    <url-pattern>/CargarCurso</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>RegistrarSubtema</description>
    <display-name></display-name>
    <servlet-name>ServletRegistrarSubtema</servlet-name>
    <servlet-class>Servlet.ServletRegistrarSubtema</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRegistrarSubtema</servlet-name>
    <url-pattern>/RegistrarSubtema</url-pattern>
  </servlet-mapping>
</web-app>